<h3>
    Signin
</h3>


<form action="/admin" method="POST">

    <label for="username">Username</label>
    <input type="text" placeholder="enter username" name="username">

    
    <label for="password">Password</label>
    <input type="text" placeholder="enter password" name="password">

    <input type="submit" value="Login" class="btn">
</form>


<h3>register</h3>
<form action="/register" method="POST">

    <label for="username">Username</label>
    <input type="text" placeholder="enter username" name="username">

    
    <label for="password">Password</label>
    <input type="text" placeholder="enter password" name="password">

    <input type="submit" value="Register" class="btn">
</form>